DATABASE_URL=testURL
JWT_SECRET=SECRET
JWT_ALGORITHM=HS256
MAIL_USERNAME=test@test.com
MAIL_PASSWORD=testpassword
MAIL_SERVER=test.com
MAIL_PORT=1234
MAIL_FROM=test@test2.com
MAIL_FROM_NAME=tester
DOMAIN=localhost